body {
	background: black;
	font-family: "Comic Neue";
	font-size: 16px;
}
/* {
	border: 1px dashed red;
	min-height: 10px;
}*/
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	padding-top: 5px;
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 335px;
	margin: 0;
	padding-left: 6.5px;
	padding-top: 14px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 7px;
}
input {
	border: none;
	border-bottom: 2px solid gray;
	font-family: "Comic Neue";
	font-size: 16px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: lightgray;
	padding: 5px;
	border-radius: 3px;
	font-family: "Comic Neue";
	font-size: 16px;
}
#lname {
	padding-top: 10px;
}
